body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

#help {
    font-size: 30px;
    font-weight: 1000px;
}

.top-banner {
    background-image: url(images/donation-medium.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;


}

.top-container {
    text-align: center;
    color: white;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}

.donate-today {
    margin-left: 7%;
    margin-right: 7%;
    border-bottom: 1px solid gray;
}


.center-aline {
    text-align: center;
    margin-top: 100px;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.inline-gap {
    text-align: center;
    width: 15%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 6px 8px;
    border-radius: 5px;
    background-color: antiquewhite;

}

#fanci {
    color: red;
    border: 2px solid red;
}

.center {
    text-align: center;
}

.donate-now {
    text-align: center;
    margin-top: 30px;
}

.donate-plan {
    margin-left: 10%;
    margin-right: 10%;
}

.margin {
    margin-top: 30px;
}

.three-block {
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-top: 5%;
    border-radius: 10px;

}

#food {
    background-color: rgb(232, 250, 244);
}

#shelter {
    background-color: rgb(249, 242, 243);
}

#education {
    background-color: rgb(239, 239, 228);
}